{% extends 'layouts/base.html' %}

{% block body %}
    <h1>{{title}}</h1>
    <table class="table">
        <tr>
            <td>Nome</td>
            <td>Categoria</td>
            <td>Console</td>
            <td></td>
            <td></td>
        </tr>
        {% for jogo in jogos %}
            <tr>
                <td>{{jogo.nome}}</td>
                <td>{{jogo.categoria}}</td>
                <td>{{jogo.console}}</td>
                <td><a href="/editar/{{jogo.id}}">Editar</a></td>
                <td><form method="post" action="/deletar/{{jogo.id}}"><input type="submit" value="Deletar"></form></td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}